<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>ToggleWifiOnWake</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/sbin/sleepwatcher</string>
		<string>--wakeup /Users/josh/shell_helpers/toggleWifi</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>StandardOutPath</key>
	<string>/Users/josh/shell_helpers/toggleWifiDaemon.log</string>
	<key>StandardErrorPath</key>
	<string>/Users/josh/shell_helpers/toggleWifiDaemon-errors.log</string>
</dict>
</plist>
